@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: system-ui, -apple-system, sans-serif;
}

:root {
  --color-sienna: #8c716a;
  --color-ice-blue: #f0f4f8;
  --color-off-white: #f7f7f7;
  --color-dark-coffe: #5c3d2e;
  --color-soft-beige: #f2e6d4;
  --color-moccasin: #ffe4b5;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-black-transparent: rgba(0, 0, 0, 0.2);
  --color-soft-green: #8fff8f;
  --color-green: #009900;
  --color-red: #ff4d4d;
  --color-light-blue: #89c0ff;
  --color-light-grey: #c4c4c4;
  --color-dark-blue-grey: #1f2530;
  --color-slight-grey: #a5a5a5;
}

header {
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(31 41 55),
    rgb(75 85 99),
    rgb(17 24 39)
  );
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid rgb(229 231 235);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

header div {
  position: absolute;
  top: 3vh;
  left: 2vh;
  display: flex;
  align-items: center;
}

header div img {
  height: 50px;
  border-radius: 5vh;
  margin-right: 6px;
}

header div p {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
}

header h1 {
  color: rgba(255, 255, 255, 0.9);
  margin-right: 0%;
}

main {
  height: 100vh;
  background-color: linear-gradient(
    to bottom right,
    rgb(249 250 251),
    white,
    rgb(243 244 246)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

.h1-chiquinho {
  cursor: pointer;
}
a {
  text-decoration: none;
}

@media (max-width: 660px) {
  header {
    justify-content: right;
  }
}

@media (max-width: 483px) {
  header h1 {
    font-size: 6vw;
  }
}

@media (max-width: 414px) {
  header h1 {
    font-size: 5.8vw;
  }
}

@media (max-width: 393px) {
  header h1 {
    font-size: 5.5vw;
  }
}

@media (max-width: 372px) {
  header h1 {
    font-size: 5.3vw;
  }
}

@media (max-width: 359px) {
  header h1 {
    font-size: 4.8vw;
  }
}

@media (max-width: 322px) {
  header h1 {
    font-size: 4.5vw;
  }
}
