section {
  margin-top: 100px;
  height: 500px;
  width: 850px;
  background-color: var(--color-off-white);
  border-radius: 16px;
  overflow: hidden;
}

section div {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-coffe);
}

section div h2 {
  color: #f5f5dc;
}

section ul {
  height: 85%;
  background-color: var(--color-soft-beige);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section li {
  margin: 12px;
  height: 300px;
  width: 175px;
  background-color: var(--color-moccasin);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 36px;
  border-radius: 8px;
}

section li:hover {
  transform: scale(104%);
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 5px 5px 20px var(--color-black);
}

section li img {
  height: 126px;
}

section li p {
  height: 30px;
  width: 100px;
  text-align: center;
}
