body {
  background: linear-gradient(
    to bottom right,
    rgb(249 250 251),
    white,
    rgb(243 244 246)
  );
}

section {
  margin-top: 100px;
  height: 500px;
  width: 1100px;
  border: 1px solid rgba(229, 231, 235, 0.5);
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.9),
    rgba(249, 250, 251, 0.8)
  );
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

section div {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    rgb(31 41 55),
    rgb(75 85 99),
    rgb(17 24 39)
  );
  border: 1px solid rgba(229, 231, 235, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05), 0 10px 15px rgba(0, 0, 0, 0.03);
  padding: 2rem;
  transition: all 0.3s;
}

/* li {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(249, 250, 251, 0.8));
  backdrop-filter: blur(12px);
  border-radius: 1rem;
  border: 1px solid rgba(229, 231, 235, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
              0 10px 15px rgba(0, 0, 0, 0.03);
  padding: 2rem;
  transition: all 0.3s;
} */

section div h2 {
  color: rgba(255, 255, 255, 0.9);
}

section ul {
  height: 85%;
  background-color: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.9),
    rgba(249, 250, 251, 0.8)
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

section li {
  margin: 12px;
  height: 300px;
  width: 175px;
  background-color: linear-gradient(to right, white, rgba(249, 250, 251, 0.5));
  border: 1px solid rgb(229 231 235);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 36px;
  border-radius: 8px;
}

section li:hover {
  transform: scale(104%);
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 5px 5px 20px var(--color-black);
}

section li img {
  height: 126px;
}

section li p {
  height: 30px;
  width: 100px;
  text-align: center;
}
