@media (max-width: 660px) {
  header {
    justify-content: right;
  }
}

@media (max-width: 483px) {
  header h1 {
    font-size: 6vw;
  }
}

@media (max-width: 414px) {
  header h1 {
    font-size: 5.8vw;
  }
}

@media (max-width: 393px) {
  header h1 {
    font-size: 5.5vw;
  }
}

@media (max-width: 372px) {
  header h1 {
    font-size: 5.3vw;
  }
}

@media (max-width: 359px) {
  header h1 {
    font-size: 4.8vw;
  }
}

@media (max-width: 322px) {
  header h1 {
    font-size: 4.5vw;
  }
}
