header
{
  flex-direction: column;
}

header h2
{
  color: #f5f5dc;
}

main
{
  height: 100vh;
  padding-top: 12vh;
}

a
{
  position: fixed;
  top: 124px;
  left: 16px;
}

section 
{
  width: 50%;
  height: 75%;
  background-color: aqua;
}

.divP
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}
.divUl
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: blueviolet;
}

ul
{
  overflow: auto;
}